{% extends "base.html" %}

{% block head %}
<title>Home Page</title>
{% endblock %}

{% block body %}
<a class="btn btn-primary mb-3" href="{{ url_for('main.create_tasks') }}">Create!</a>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Tags</th>
      <th>Created On</th>
      <th>Due by</th>
      <th>Priority</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for task in tasks %}
    <tr>
      <td>{{ task.title }}</td>
      <td>{{ task.content }}</td>
      <td>{{ task.tag|from_json|join(", ") }}</td>
      <td>{{ task.create_date }}</td>
      <td>{{ task.due_date }}</td>
      <td>{{ task.priority }}</td>
      <td>{{ task.status.value }}</td>
      <td>
        <button class="edit-task-btn btn btn-warning"
            data-id="{{ task.id }}"
            data-title="{{ task.title }}"
            data-content="{{ task.content }}"
            data-priority="{{ task.priority }}"
            data-tag="{{ task.tag|from_json|join(',') }}"
            data-due_date="{{ task.due_date }}">
            Edit
        </button>

        <form action="{{ url_for('main.delete_task') }}" method="POST" style="display:inline;">
          <input type="hidden" name="id" value="{{ task.id }}">
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% include "modals.html" %}
<script src="{{ url_for('static', filename='js/edit_task.js') }}"></script>
<script src="{{ url_for('static', filename='js/modals.js') }}"></script>
<script src="{{ url_for('static', filename='js/priority_check.js') }}"></script>
{% endblock %}
